<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<div ng-controller="mainController">
		<form>
			<input type="text" ng-model="user.username"><br>
			<input type="text" ng-model="user.password"><br>
			<button type="button" ng-click="login()">Login</button>
		</form>		
	</div>

</body>
</html>