<!DOCTYPE html>
<html>
<head>
	<title>User page</title>
</head>
<body>
	<div ng-controller="userController">
		<button ng-click="showShoppingCarts()">My shopping carts</button>
		<h3>Products</h3>
		<table>
			<label>Search by category</label>
			<input type="text" ng-model="categorySearch" ng-change="hideMinMax()"><br>
			<span ng-hide="empty">
				<label>Minimum price</label>
				<input type="text" ng-model="min"><br>
				<label>Maximum price</label>
				<input type="text" ng-model="max">
			</span><br>
			<button ng-click="search()">Search</button><button ng-click="reset()">Reset</button>
		</table><br>
		<table>
			<tr>
				<td>Title</td>
				<td>Category</td>
				<td>Price</td>
				<td>Quantity</td>
				<td>Type in quantity you wish to buy:</td>
			</tr>
			<tr ng-repeat="p in products">
				<td>{{p.title}}</td>
				<td>{{p.category}}</td>
				<td>{{p.price}}</td>
				<td>{{p.quantity}}</td>
				<td><input type="text" ng-model="cartItem.quantity"></td>
				<td><button ng-click="addToShoppingCart(p.id, p.title, p.price, cartItem.quantity)">Add to shopping cart</button></td>
			</tr>
		</table><br>
		<button ng-click="changePage(-1)">Previous</button><button ng-click="changePage(1)">Next</button>

		<div ng-hide="cartItems.length==0">
			<h3>Chosen products</h3>
			<table>
				<tr>
					<td>Title</td>
					<td>Quantity</td>
				</tr>
				<tr ng-repeat="ci in cartItems">
					<td>{{ci.title}}</td>
					<td>{{ci.quantity}}</td>
				</tr>
			</table>
			<span>Amount: {{amount}}</span><br>
			<button ng-click="createShoppingCart()">Buy</button>			
		</div><br>
		<a href="/">Home</a>
	</div>
</body>
</html>